*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html{
  --white: #FFFFFF;
  --light-white: #FDF1EB;
  
  --light-orange: #FFB354 ;
  --orange: #EE7A3A;
  --orange-text: #ED7839;
  
  --grey-dark: #4E4E4E;
  --grey-light: #725C5C;
  --light-background: #FDF1EB;
  --notification: #F85959;

  font-size: 62.5%;
}

/*Container geral*/
.container{
  width: 100vw;
  height: auto ;
  position: relative;
}