*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html{
  --white: #FFFFFF;
  --light-white: #FDF1EB;
  
  --light-orange: #FFB354 ;
  --orange: #EE7A3A;
  --orange-text: #ED7839;
  
  --grey-dark: #4E4E4E;
  --grey-light: #725C5C;
  --light-background: #FDF1EB;
  --notification: #F85959;

  font-size: 62.5%;
}

textarea,
button{
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;

  transition: filter .3s;
}

button:hover{
  filter: brightness(1.05);
}


/*Container geral*/
.container{
  width: 100vw;
  height: auto ;
  position: relative;
}

/*Main -  Conteúdo principal*/
main{
  margin: 20px 0px 0 263px;
  width: calc(100vw - 308px);
}

.gradient{
  background:  linear-gradient(180deg, var(--light-orange) 0%,var(--orange) 100%);
}


.card{
  border: 1px solid #ECECEC;
  border-top: none;
  border-radius: 3px;
}

.card-header{
  border: 1px solid #ECECEC;
  border-right: none;
  border-radius: 3px 3px 0 0;
  
  background: #FDF1EB !important;
  height: 45px;
  
  color: #4E4E4E !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
  line-height: 2.5rem !important;
  font-size: 2rem !important;
}

.card-header > span{
  display: block;
  height: 25px;
}

.info-more{
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: var(--orange-text);
}

.modal{
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, .35);
  display: none;
  z-index: 100;
}

@media (max-width: 670px) {
  main{
    margin-left: 0px;
    padding: 0 29px 0 36px;    
    width: 100vw;
  }
}

@media (max-width: 450px) {
  main{
    padding: 0 15px 0 15px;    
  }
}