.container{
  width: 100vw;
  height: auto ;
  position: relative;
}

header{
  margin-left: 220px;
  height: 68px;
  max-width: calc(100vw - 220px);
  width: 100%;
  background: var(--light-background);
  
  padding: 0 29px 0 36px;
}

nav{

  display: flex;
  gap: 110px;
  height: 100%;
}

.header-titles{
  text-align: left;
  width: 643px;
  white-space: nowrap;
}

.header-titles > span{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--grey-light);

  display: inline-block;
  margin-top: 5px;
}

.header-titles > h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: var(--grey-light);
  margin-top: 2px;
}

.header-titles span:nth-child(3){
  margin-top: 0;
}

.profile{
  display: flex;
  align-items: center;
  gap: 22px;
  margin: 17px 0 17px 0;
  }

#dropdown{
  width: 97px;
  height: 34px;
  background: transparent;

  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 3px;
}

.profile-info{
  position: relative;
  display: flex;
  align-items: center;
  gap: 0;
  text-align: right;
}

#contact > span,
.profile-info #contact{
  display: inline-block;
  font-family: 'Quicksand';
  font-weight: 400;
  color: #333333;
  
  width: 163px;
}


#contact span:nth-child(1){
  height: 18px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
#contact span:nth-child(2){
  height: 15px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#profile-photo{
  width: 4.8rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-photo > img{
  height: 30px;
  width: 30px;
  
  border-radius: 50%;
}

#notification{
  position: absolute;
  top: -2px;
  right: 7px;

  z-index: 10;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: var(--notification);

  width: 12px;
  height: 12px;

  border-radius: 10px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 10px;

  color: var(--white);
}

header #perfil-usuario > div > img{
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  
  top: min(-.2rem, -2px);
  right: .1rem;

  z-index: 1;
  
}


aside{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 220px;
  width: 100%;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.aside-title{
  display: flex;
  
  height: 68px;

  background: linear-gradient(180deg, var(--light-orange) 0%, var(--orange) 100%);

  padding-left:20px;
}

.aside-title > h1{
  width: 178px;
  display: flex;
  align-items: center;
  justify-content: center ;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  
  color: var(--white);
  text-transform: uppercase;
  
  text-align: center;
}

.aside-content > img{
  width: 100%;
  height: 258px;
}

.menu{
  width: 100%;
}

.menu > li{
  position: relative;
  height: 33px;
  display: flex;
  align-items: center;

  padding-left: 24px;

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-transform: capitalize;

  color: var(--grey-light);
  border-bottom:.2rem solid #ECECEC;
}

.hidden{
  display: none;
}

.activated{
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background: linear-gradient(180deg, #FFB455 0%, var(--orange-text) 100%);
}

li.active{
  background: var(--light-background);
  padding-left: 29px;
}